{{!-- <h2>Welcome to NbDNp</h2>
<h3>{{{title}}}</h3> --}}


<div class="container  bg-dark text-white bg-opacity-75">
    <div class="row bg-dark">
        <div class="col col-lg-2">

        </div>
        <div class="col-md-center">
            <h1 class="text-center font-monospace " style="color: rgb(202, 202, 202);">Library Management System
            </h1>
        </div>
        <div class="col col-lg-2">

        </div>

    </div>
    <div class="row">

        <hr>

        <h3  style="color: rgb(255, 94, 94);">Update Book Details</h3>
        <br> <br> <br>
        <div class="col-md-2"></div>

        <div class="col-md-8">

            {{#each books}}
<form class="form-horizontal" method="POST" action="/bookupdatedb/{{this.idBooks}}">
{{!-- idBooks, , , language, , --}}
  <div class="mb-3 row">
<div class="col-md-2">
<label for="inputEmail3" class="control-label">Book ISBN </label>
 </div>
 <div class="col-md-6">
 <input type="text" value="{{this.ISBN}}" class="form-control" id="ISBN" placeholder="Book ISBN"
 name="ISBN">
  </div>

 </div>
  <div class="mb-3 row">
<div class="col-md-2">
 <label for="inputEmail3" class="control-label">Book Title</label>
  </div>
  <div class="col-md-6">
  <input type="text" value="{{this.title}}" class="form-control" id="Title" placeholder="Book Title" name="Title">
   </div>

  </div>
  <div class="mb-3 row">
<div class="col-md-2">
<label for="inputEmail3" class="control-label">Language</label>
                  
  </div>
  <div class="col-md-6">
<select class="form-select" aria-label="Default select example" name="flexRadioDefault">
<option value="{{this.language}}" hidden="hidden" selected="selected">{{this.language}}</option>
<option value="Sinhala">Sinhala</option>
<option value="English">English</option>
<option value="Tamil">Tamil</option>
 </select>
</div>

  </div>
  <div class="mb-3 row">
<div class="col-md-2">
 <label for="inputEmail3" class="control-label">Author</label>
 </div>
                   
 <div class="col-md-6">
 <input type="text" class="form-control" value="{{this.auther}}" id="Author" placeholder="Author"
 name="Author">
 </div>

  </div>
  <div class="mb-3 row">

  </div>
  <div class="mb-3 row">

  </div>
</form>

{{/each}}


        </div>
        <div class="col-md-2"></div>

    </div>

</div>